<div class="col-md-6 col-md-offset-3">
    <h3 style="color: red;">     {{message}}   </h3>
    <h2>Register</h2>
    <form [formGroup]="form" #f="ngForm" (ngSubmit)="form.valid && onSubmitModelBased(form.value)">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" formControlName="firstName">

            <div class="help-block">
                <div *ngIf="f.submitted && form.controls.firstName.errors && form.controls.firstName.errors.required">
                    First Name is required!
                </div>
                <div *ngIf="f.submitted && form.controls.firstName.errors && form.controls.firstName.errors.minlength">
                    First Name should be at least 3 characters
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" formControlName="lastName">

            <div class="help-block">
                <div *ngIf="f.submitted && form.controls.lastName.errors && form.controls.lastName.errors.required">Last
                    name is required!
                </div>
                <div *ngIf="f.submitted && form.controls.lastName.errors && form.controls.lastName.errors.minlength">
                    Last name should be at least 3 characters
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" formControlName="email">

            <div class="help-block">
                <div *ngIf="f.submitted && form.controls.email.errors && form.controls.email.errors.required">Email is
                    required
                </div>
                <div *ngIf="f.submitted && form.controls.email.errors && form.controls.email.errors.valid">This
                    is not a valid email
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="phoneNumber">Phone number</label>
            <input type="text" class="form-control" formControlName="phoneNumber">

            <div class="help-block">
                <div *ngIf="f.submitted && form.controls.phoneNumber.errors && form.controls.phoneNumber.errors.validatePhone">This
                    is not a valid Phone number
                </div>
                <div *ngIf="f.submitted && form.controls.phoneNumber.errors && form.controls.phoneNumber.errors.minlength">Phone
                    number should have exactly 10 digits
                </div>
                <div *ngIf="f.submitted && form.controls.phoneNumber.errors && form.controls.phoneNumber.errors.maxlength">Phone
                    number should have exactly 10 digits
                </div>
            </div>
        </div>

        <label for="password">Password</label>
        <div formGroupName="passwords">
            <input id="p5" type="password" class="form-control" formControlName="password">

            <div *ngIf="f.submitted && form.controls.passwords.controls.password.errors" class="help-block">
                <div *ngIf="form.controls.passwords.controls.password.errors.required">
                    Password is required
                </div>
                <div *ngIf="form.controls.passwords.controls.password.errors.minlength">
                    Password should be at least 5 characters
                </div>
            </div>
            <br/>
            <label for="matchPassword">Repeat Password</label>
            <input type="password" class="form-control" formControlName="matchPassword">

            <div class="help-block" *ngIf="f.submitted && form.controls.passwords.controls.matchPassword.errors">
                <div *ngIf="form.controls.passwords.controls.matchPassword.errors.required">
                    Password is required
                </div>

                <div *ngIf="form.controls.passwords.controls.matchPassword.errors.minlength">
                    Password should be at least 5 characters
                </div>
            </div>

        </div>

        <div *ngIf="!form.controls.passwords.controls.matchPassword.pristine && form.controls.passwords.errors && form.controls.passwords.errors.mismatchedPasswords" class="help-block">
            Passwords must match
        </div>
        <p>
            <button id="register" class="btn btn-primary" type="submit">Submit</button>
            <button id="register" type="button"  class="btn btn-primary" [routerLink]="['/login']">Login</button>
        </p>
    </form>
</div>